<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <title>{% block title %}{% endblock title %}</title>

</head>
<body>
    <form action="{% url 'runscript:change' script_name.id %}" method="get">
        <input type="submit" value="Cancel" />
    </form>
    the url is {{ url }} <br>
    the file is {{ filename }} <br>

    {% block confirm %}{% endblock confirm %}

{#    <form action="{% url 'runscript:detail' script_name.id %}" method="POST">#}
{#        {% csrf_token %}#}
{#        <input type="submit" name={% block edit_yes %}{% endblock edit_yes %}#}
{#    {% block del_yes %}{% endblock del_yes %} value="yes"/>#}
{#    </form>#}

    {% block edit_yes %}{% endblock edit_yes %}
    {% block del_yes %}{% endblock del_yes %}

    <form action="{% url 'runscript:change' script_name.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" name="button_no" value="no"/>
    </form>

    <!-- display script's code -->
    {% if fileContent %}
        <pre><code class="python">{% for line in fileContent %}{{ line }}{% endfor %}</code></pre>
    {% endif %}

{#    {% block delFileContent %}{% endblock delFileContent %}#}


</body>
</html>