{% extends "runscript/base.html" %}
{% block title %}Script List Page{% endblock title %}
{% block content %}
    {% if user.is_authenticated %}
        <!-- Upload form. Note enctype attribute! -->
        <form action="#" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
                {{ form.list_name.label }} {{ form.list_name }}

            </p>
            <p><input type="submit" value="Create"/></p>
        </form>

        {% if allLists %}
            Lists:
            <ul>
                {% for list in allLists %}
                    <li><a href="{% url 'runscript:view_and_upload' list.id %}">{{ list.list_name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            No lists
        {% endif %}

    {% else %}
        You must login!
    {% endif %}
{% endblock content %}
