{% extends "runscript/base.html" %}
{% load static %}
{% block script %}
    <script type="text/javascript" src="{% static "javascript/logs.js" %}" async></script>
{% endblock script %}
{% block title %} Logs {% endblock title %}
{% block content %}
    <form method="get" action="{% url 'runscript:view_and_upload' pk %} ">
        <input type="submit" value="back"><br><br>
    </form>
    {% if can_log %}
        {% if logs %}
            {% if logs.has_previous %}
                <span><button><a href="?page={{ logs.previous_page_number }}">Previous</a></button></span>
            {% else %}
                <span><button disabled>Previous</button></span>
            {% endif %}
            <span>Page {{ logs.number }} of {{ logs.paginator.num_pages }}</span>
            {% if logs.has_next %}
                <span><button disabled><a href="?page={{ logs.next_page_number }}">Next</a></button></span>
            {% else %}
                <span><button disabled>Next</button></span>
            {% endif %}

            {#            <ul class="pagination">#}
            {#                {% if logs.has_previous %}#}
            {#                    <li class="page-item">#}
            {#                        <a class=page-link href="?page={{ logs.previous_page_number }}">#}
            {#                            <button>Previous</button>#}
            {#                        </a>#}
            {#                    </li>#}
            {#                {% else %}#}
            {#                    <li class="page-item disabled">#}
            {#                        <a class=page-link href="#">#}
            {#                            <button disabled>Previous</button>#}
            {#                        </a>#}
            {#                    </li>#}
            {#                {% endif %}#}
            {##}
            {#                {% if logs.number != 1 %}#}
            {#                    <li class="page-item">#}
            {#                        <a class=page-link#}
            {#                           href="?page={{ logs.previous_page_number }}">{{ logs.previous_page_number }}</a>#}
            {#                    </li>#}
            {#                {% endif %}#}
            {##}
            {#                <li class="page-item active"><a class=page-link href="#">{{ logs.number }}</a></li>#}
            {##}
            {#                {% if logs.number != logs.paginator.num_pages %}#}
            {#                    <li class="page-item"><a class=page-link#}
            {#                                             href="?page={{ logs.next_page_number }}">{{ logs.next_page_number }}</a>#}
            {#                    </li>#}
            {#                {% endif %}#}
            {##}
            {#                {% if logs.has_next %}#}
            {#                    <li class="page-item"><a class=page-link href="?page={{ logs.next_page_number }}">#}
            {#                        <button>Next</button>#}
            {#                    </a>#}
            {#                    </li>#}
            {#                {% else %}#}
            {#                    <li class="page-item disabled"><a class=page-link href="#">#}
            {#                        <button disabled>Next</button>#}
            {#                    </a></li>#}
            {#                {% endif %}#}
            {#            </ul>#}
            <br><br>
            <form action="{% url 'runscript:logs' pk %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Task Logs" name="button_task_logs"/>

                <input type="submit" value="User Logs" name="button_user_logs"/>
            </form>
            <br>
            <form method="GET">
                <input class="form-control" name="search_log_input" id="myInput" type="text" placeholder="Search..."
                        {% if search_input != '' %}value="{{ search_input }}"{% endif %}>
                <input type="submit" name="button_search_log" value="Search">
            </form>

            {#            {% block task_logs %}{% endblock task_logs %}#}
            {#            {% block user_logs %}{% endblock user_logs %}#}
            <table class="table table-striped table-bordered">
                <tr>
                    <th>{{ header.0 }}</th>
                    <th>{{ header.1 }}</th>
                    <th>{{ header.2 }}</th>
                    {% if search_log == "search_task_filter" %}
                        <th>{{ header.3 }}</th>
                    {% endif %}
                </tr>
                <tbody id="myTable">
                {% for log in logs %}
                    <tr>
                        {#                        <td>{{ log.task_id }}</td>#}
                        {#                        <td>{{ log.time_ran }}</td>#}
                        {#                        <td>{{ log.id }}</td>#}

                        {% if search_log == "search_task" %}
{#                            <td>{{ log.0.task_id }}</td>#}
{#                            <td>{{ log.0.time_ran }}</td>#}
{#                            <td>{{ log.0.id }}</td>#}
{#                            <td><a href="{% url 'runscript:output' log.0.id%}" target="_blank">{{ log.0.task_status }}</a></td>#}
{#                            <a href="{% url 'runscript:detail' script.id %}" target="_blank">{{ script.0.script_name }}</a>#}

                            <td>{{ log.task_id }}</td>
                            <td>{{ log.time_ran }}</td>
                            <td><a href="{% url 'runscript:output' log.id%}" target="_blank">{{ log.task_status }}</a></td>

                        {% elif search_log == "search_task_filter" %}
                            <td>{{ log.0.task_id }} SEARCH TASK FILTER</td>
                            <td>{{ log.0.time_ran }}</td>
                            <td><a href="{% url 'runscript:output' log.0.id%}" target="_blank">{{ log.0.task_status }}</a></td>

                        {% elif search_log == "search_user" %}
                            <td>{{ log.date_added }}</td>
                            <td>{{ log.person }}</td>
                            <td>{{ log.action|linebreaksbr }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            no logs
        {% endif %}
    {% endif %}
{% endblock content %}
