{% extends "runscript/base.html" %}
{% load static %}
{% block script %}
    <script type="text/javascript" src="{% static "javascript/manage_user.js" %}" async></script>
{% endblock script %}
{% block title %}Mange Users{% endblock title %}
{% block content %}
    {% if can_manage_user %}
        <div class="container-fluid">
            <form id="hehe" action="{% url 'runscript:view_and_upload' script_list.id %}" method="get">
                <input type="submit" value="Back to View">
            </form>

            <form action="{% url 'runscript:manage_user' script_list.id %}" method="POST">
                {% csrf_token %}
                <!-- USER ADD -->
                Add user to this list
                <input type="text" name="add_user_to_list">
                <input type="submit" class="btn btn-primary" value="Add User" name="button_add_user"/>

                <!-- USER SELECTION -->
                <select id="select_user" name="selected_user">
                    {% if selected_user %} <!-- USER SELECTED -->
                        <option id="select_{{ selected_user }}"value="{{ selected_user }}">{{ selected_user }}</option>
                        {% for users in script_list.user.all %}
                            {% if users|slugify != script_list.owner|slugify and users != selected_user and user != users %}
                                <option id="select_{{ users }}" value="{{ users }}">{{ users }}</option>
                            {% endif %}
                        {% endfor %}
                    {% else %} <!-- USER SELECTION DEFAULT -->
{#                        <option value="Select User">Select User</option>#}
                        {% for users in script_list.user.all %}
                            {% if users|slugify != script_list.owner|slugify and user != users %}
                                <option id="select_{{ users }}" value="{{ users }}">{{ users }}</option>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </select>
                <input type="submit" id="btn_select_user" class="btn btn-primary" value="Select User" name="button_select_user"/><br>

                <!-- PERMISSIONS -->
{#                {% if can_manage_perm %}#}
{#                    {% if perm %}#}
{#                        <div class="container-fluid pt-4">#}
{#                        {% for p in perm %}#}
{#                            <div class="form-check-inline">#}
{#                                {% if p.0 %}#}
{#                                    <label class="form-check-label">#}
{#                                        <input class="form-check-inline" type="checkbox" name="{{ p.1 }}" value="clicked" checked> {{ p.1 }}#}
{#                                    </label>#}
{#                                {% else %}#}
{#                                    <label class="form-check-label">#}
{#                                        <input class="form-check-inline" type="checkbox" name="{{ p.1 }}" value="clicked"> {{ p.1 }}#}
{#                                    </label>#}
{#                                {% endif %}#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                        <input type="submit" class="btn btn-info" value="change permissions" name="button_change_perm">#}
{#                        <input type="submit" class="btn btn-danger" value="Delete User" name="button_del_user"/>#}
{#                    {% endif %}#}
{#                {% endif %}#}
                </div>
            </form>
            {% for message in messages %}
                {{ message }}<br>
            {% endfor %}
        </div>
    {% endif %}

    <div id="show_perm" class="novis"></div>
    <input type="submit" class="novis" value="change permissions" name="button_change_perm" id="btn_change_perm">
    <input type="submit" class="novis" value="Delete User" name="button_del_user" id="btn_del_user">
{% endblock content %}