<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>manage user</title>
</head>
<body>

    <form action="{% url 'runscript:view_and_upload' script_list.id %}" method="get">
        <input type="submit" value="back">
    </form>

    {% if can_manage %}
        <form action="{% url 'runscript:manage_user' script_list.id %}" method="POST">
            {% csrf_token %}
            Add user to this list
            <input type="text" name="add_user_to_list">
            <input type="submit" value="Add User" name="button_add_user"/>
        </form>

            <form action="{% url 'runscript:manage_user' script_list.id %}" method="POST">
                {% csrf_token %}

                Select User:
                <select name="selected_user">
                    {% for user in script_list.user.all %}
                        {% if user|slugify != script_list.owner|slugify %}
                            <option value="{{ user }}">{{ user }}</option>
                        {% endif %}
                    {% endfor %}
                </select>

                <input type="submit" value="Delete User" name="button_del_user"/><br>

                {% for p in perm_text %}
                    <input type="checkbox" name="{{ p }}" value="clicked"> {{ p }} <br>

                {% endfor %}<br>

                <input type="submit" value="change permissions" name="button_change_perm">

            </form>
{#            <form method="post" action="{% url 'runscript:manage_user' script_list.id %}">#}
{#                {% csrf_token %}#}
{#                {% for p in perm_text %}#}
{#                    <input type="checkbox" name="{{ p }}" value="clicked"> {{ p }} <br>#}
{##}
{#                {% endfor %}<br>#}
{##}
{#                <input type="submit" value="change permissions" name="button_change_perm">#}
{#            </form>#}

        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
</body>
</html>