{% extends "runscript/base.html" %}
{% load static %}
{% block script %}
    <script type="text/javascript" src="{% static "javascript/script_change.js" %}" async></script>
{% endblock script %}
{% block title %}Script Edit Page{% endblock title %}
{% block content %}


    {% if can_view %}
        <form action="{% url 'runscript:detail' script_name.id %}" method="GET">
            <input type="submit" value="Back"/>
        </form>


        {% if can_edit %}
            script name: {{ script_name }}<br>
            file name: {{ filename }}
            <form action="{% url 'runscript:confirm_edit' script_name.id %}" method="POST">
                {% csrf_token %}
                <textarea rows="10" cols="50" name="script_edit" id="textbox">{% for line in fileContent %}{{ line }}{% endfor %}</textarea><br>

                <input type="submit" name="button_edit" value="edit"/>
            </form><br>

            {% if can_delete %}
                <form action="{% url 'runscript:confirm_delete' script_name.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" name="button_delete" value="delete"/>
                </form><br>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock content %}