{% extends "runscript/base.html" %}
{% block title %} delete script confirmation {% endblock title %}

{% block content %}
    <form action="{% url 'runscript:change' script_name.id %}" method="get">
        <input type="submit" value="Cancel" />
    </form>
    the url is {{ url }} <br>
    the file is {{ filename }} <br>
    Are you sure you want to delete this script?
    {% if can_delete %}
        <form action="{% url 'runscript:confirm_delete' script_name.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" name="button_delete_yes" value="yes"/>
        </form>
    {% endif %}

    <form action="{% url 'runscript:change' script_name.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" name="button_no" value="no"/>
    </form>

    <!-- display script's code -->
    {% if fileContent %}
        <pre><code class="python">{% for line in fileContent %}{{ line }}{% endfor %}</code></pre>
    {% endif %}
{% endblock content %}

