<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{#    <script>#}
{#        function pressTab(){#}
{#            if(event.keyCode===9){#}
{#                let v=this.value, s=this.selectionStart,e=this.selectionEnd;#}
{#                this.value=v.substring(0, s)+'\t'+v.substring(e);#}
{#                this.selectionStart=this.selectionEnd=s+1;#}
{#                return false;}#}
{#        }#}
{#    </script>#}
    <title>script detail page</title>
</head>
<body>
    <form action="{% url 'runscript:view_and_upload' script_name.script_list_id %}" method="get">
        <input type="submit" value="Back" />
    </form>
{#<button onclick=window.history.back()>Go Back</button>#}

    the script name is {{ script_name }} <br>
    the url is {{ script_name.upload_file.url }} <br>
    the path is {{ script_name.upload_file.path }} <br>
    the date added is {{ script_name.date_added }}
    the file contains: <br>

    <!-- display script's code -->
    <pre><code class="python">{% for line in fileContent %}{{ line }}{% endfor %}</code></pre>

    <!-- create button to run the script and display it -->
    <form action="{% url 'runscript:detail' script_name.id %}" method="POST">
        {% csrf_token %}
        Enter arguments here
        <input type="text" name="arguments">
        <input type="submit" value="Run this script" name="button_run_script"/>
    </form>

    <form action="{% url 'runscript:change' script_name.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Edit this script" />
    </form><br>

    <!-- get the output of the script -->
    {% if output %}
        {% for line in output %}{{ line }}<br>{% endfor %}
    {% else %}
        No scripts have been ran
    {% endif %}

</body>
</html>