{% extends "runscript/base.html" %}
{% load static %}
{% block script %}
    <script type="text/javascript" src="{% static "javascript/script_change.js" %}" async></script>
{% endblock script %}
{% block title %}Script Edit Page{% endblock title %}
{% block content %}


    {% if can_view %}
        <form action="{% url 'runscript:detail' script_name.id %}" method="GET">
            <input type="submit" value="Back"/>
        </form>

        {% if can_edit %}

            <form class="yesno" action="{% url 'runscript:confirm_edit' script_name.id %}" method="POST">
                {% csrf_token %}
{#                script name: <input type="text" name="new_script_name" placeholder="{{ script_name }}">#}
                script name: {{ script_name }} <br>
                file name: <input type="text" name="new_file_name" placeholder="{{ filename }}"><br><br>
                <div>
                    <textarea rows="10" cols="50" name="script_edit" id="textbox">{% for line in fileContent %}{{ line }}{% endfor %}</textarea><br>
                </div>
                <input type="submit" name="button_edit" value="edit"/>
            </form><br>

            {% if can_delete %}
                <form class="yesno" action="{% url 'runscript:confirm_delete' script_name.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" name="button_delete" value="delete"/>
                </form><br>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock content %}