{% extends "runscript/base.html" %}

{% block title %} Script Detail Page{% endblock title %}
{% block content %}
<form action="{% url 'runscript:view_and_upload' script_name.script_list_id %}" method="get">
    <input type="submit" value="Back"/>
</form>
{#<button onclick=window.history.back()>Go Back</button>#}
    {% if can_view %}
        the script name is {{ script_name }} <br>
        the url is {{ script_name.upload_file.url }} <br>
        the path is {{ script_name.upload_file.path }} <br>
        the date added is {{ script_name.date_added }}
        the file contains: <br>

        <!-- display script's code -->
        <pre><code class="python">{% for line in fileContent %}{{ line }}{% endfor %}</code></pre>

        <!-- create button to run the script and display it -->
        {% if can_edit or can_run %}
            {% if can_run %}
                <form action="{% url 'runscript:detail' script_name.id %}" method="POST">
                    {% csrf_token %}
                    Enter arguments here
                    <input type="text" name="arguments">
                    <input type="submit" value="Run this script" name="button_run_script"/>
                </form>
            {% endif %}

            {% if can_edit %}
                <form action="{% url 'runscript:change' script_name.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Edit this script"/>
                </form><br>
                {% endif %}
        {% endif %}

        <!-- get the output of the script -->
        {%  if can_run %}
            {% if output %}
                {% for line in output %}{{ line }}<br>{% endfor %}
            {% else %}
                No scripts have been ran
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock content %}