{% extends "runscript/logs.html" %}
{% block task_logs %}
    <table class="table table-striped table-bordered">
        <tr>
            <th>Script</th>
            <th>Date</th>
            <th>Output</th>
        </tr>
        <tbody id="myTable">
        {% for log in logs %}
            <tr>
                <td>{{ log.task_id }}</td>
                <td>{{ log.time_ran }}</td>
                <td>{{ log.id }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock task_logs %}