{% extends "runscript/base.html" %}
{% block title %}View and Upload file page{% endblock title %}
{% block content %}
    <form action="{% url 'runscript:main' %}" method="GET">
        <input type="submit" value="Back"/>
    </form>

    {% if user.is_authenticated %}
        {{ script_list.owner }} owns {{ script_list.list_name }}
        {% if can_log %}
            <form action="{% url 'runscript:logs' script_list.id %}" method="GET">
                <input type="submit" value="Logs"/>
            </form>
        {% endif %}
        {% if can_manage_user %}
            <form action="{% url 'runscript:manage_user' script_list.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Mange Users"/>
            </form>
        {% endif %}

        <!-- Upload form.  -->
        {% if can_view %}
            {% if can_add %}
                <form action="{% url 'runscript:view_and_upload' script_list.id %}" method="POST"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>
                        Enter script name {{ form.script_name }}
                        <br>
                        {{ form.upload_file }}
                    </p>
                    <p><input type="submit" value="Upload" name="button_upload"/></p>
                </form>
            {% endif %}

            <!-- List of uploaded files -->
            {% if script_list.uploadfilemodel_set.all %}
                Files:
                <ul>
                    {% for script in script_list.uploadfilemodel_set.all %}
                        <li><a href="{% url 'runscript:detail' script.id %}">{{ script.script_name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No files.</p>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock content %}
